
<div class="header">
  <div class="exhibition">
    <h1>
      Violence Museum
    </h1>
  </div>
  <div class="description col-8">
  <p>It's an experience in order of tying to represent Violence trough many arts. The exhibition route is made from the least violents artworks until the most violents. The route is marked in three level of violence. Let's see these steps.</p>
  </div>
</div>
<p id="notice"><%= notice %></p>


  <body>

    <div class="container">
      <div class="row row-cols-3 categories">
        <div class="col-8 col-lg-4 box">
          <div class="container-fluid hvr-grow cat smooth">
            <h2>Smooth</h2>
            <p> La Violence peut se faire ressentir dans la composition d'une oeuvre en changeant des codes, elle paut aussi être utilisée pour proner un message opposé (la paix).</p>
          </div>
        </div>
        <div class="col-8 col-lg-4 box">
          <div class="container-fluid hvr-grow cat medium">
            <h2>Medium</h2>
            <p> La Violence peut se cacher derrière des représentations picturales particulières. On peut faire intervenir des éléments extérieurs pour créer un sentiment de violence.</p>
          </div>
        </div>
        <div class="col-8 col-lg-4 box">
          <div class="container-fluid hvr-grow cat hard">
            <h2>Hard</h2>
            <p>Les oeuvres les plus Violentes, sont principalement celles qui choquent et provoquent l'émoi chez le spectateur. Ainsi l'artiste montre des scènes explicites et créée une expérience désagréable.</p>
          </div>
        </div>
      </div>
    </div>

<div class="title-bar">
  <div class="titlebox">
    <h1>All the Works 
      <br>
      <span class="new-work">
        <%= link_to 'New Work', new_work_path %>
      </span>
    </h1>   
  </div>   
</div>


    <div class="container">
    <div class="row row-cols-3 gridcontent">
    <% @works.each do |work| %>
     <!-- <tr>
        <td><%= work.title %></td>
        <td><%= work.author %></td>
        <td><img src="<%= work.image %>" width=100%></td>
        <td><%= work.description %></td> 
        <td><%= work.date %></td>
        <td><%= link_to 'Show', work %></td>
        <td><%= link_to 'Edit', edit_work_path(work) %></td>
        <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>-->
          <div class="col-8 col-lg-4 artwork ">
            <div class="container-fluid hvr-grow content-artwork">
              <h2><%= work.title %></h2>
              <p><%= link_to (work.author ? work.author : "Auteur inconnu") , (work.author ? author_path(work.author) : authors_path ) %></p>
              <p class="container-fluid"><%= work.description %></p>
              <img class="img" src="<%= work.image %>" width=200px>
              <div class="buttonbox">
                <button class="btn btn_default"><%= link_to 'Edit', edit_work_path(work) %></button>
                <button class="btn btn_default"><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                <button class="btn btn_default"><%= link_to 'Show', work %></button>
              </div>
            </div>
          </div>     
    <% end %>
 </div>
  </div>

  </body>


