<p id="notice"><%= notice %></p>

<h1>Works</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Image</th>
      <th>Description</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="gridcontent">
    <% @works.each do |work| %>
     <!-- <tr>
        <td><%= work.title %></td>
        <td><%= work.author %></td>
        <td><img src="<%= work.image %>" width=100%></td>
        <td><%= work.description %></td> 
        <td><%= work.date %></td>
        <td><%= link_to 'Show', work %></td>
        <td><%= link_to 'Edit', edit_work_path(work) %></td>
        <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>-->
      
        
          <div class="col-lg-4 artwork">
            <div class="content-artwork">
              <h2 class="display-5"><%= work.title %></h2>
              <p class="lead"><%= work.author %></p>
              <p><%= work.description %></p>
              <img  src="<%= work.image %>" width=200px>
              <button> <%= link_to 'Edit', edit_work_path(work) %></button>
              <button> <%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></button>
            </div>
          </div>     
    <% end %>
 </div>

  </tbody>
</table>

<br>

<%= link_to 'New Work', new_work_path %>
