<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @work.author %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @work.image %>" width=300px>
</p>

<p>
  <strong>Description:</strong>
  <%= @work.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @work.date %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
